/* add poppins style globally */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
  font-family: "Poppins", sans-serif !important;
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #f5f5f5;
}
